<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="https://i.pinimg.com/favicons/7c7b4b29bef04da23c6938a36b84281a5b1a61f8d590e44dc6d35d1d.ico?dfa4b2771274bf517cfb84b7abcb3e09" />
    <title>Are the Braves in first?</title>
</head>

<style>
    .content {
        max-width: 500px;
        margin: auto;
        text-align: center;
    }
</style>

<body>
    <div class="content">
        <h1><%= message %></h1>
        <img src="<%= image %>"/>
    </div>
</body>
</html>